/*
    components: btn.scss
*/

.btn {
    border: none;
    border-radius: 4px;

    &--primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &--secondary {
        background-color: transparent;
        border: 1px solid $color-err;
        color: $color-err;
        font-size: 18px;
    }

    &--terc {
        background-color: #2c6efe13;
        border: 2px solid $color-primary;
        color: $color-primary;
    }

    &--quart {
        font-size: 18px;
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
    }

    &--base {
        padding: 12px 16px;
    }

    &--lg {
        padding: 12px 240px;
    }

    &--xl {
        width: 100%;
    }
}