/*
    base: vars.scss
*/

// utils 
$unit: 4px;

// colors 
$color-primary: #2C6EFE;
$color-secondary: #F1F5F9;
$color-grey-table: #F7F7F7;
$color-err: #E3515B;
$color-white: #FFFFFF;
$color-black: #000000;